#about {
    display: flex;
    flex-direction: column;
}

.about-image {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
    border: none;
}

.about-image:hover {
    transform: translateY(-7px);
}

.about-container {
    display: flex;
    gap: 55px;
    border-radius: 15px;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight {
    color: var(--text-secondary);
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .about-container {
        display: flex;
        flex-direction: column;
        font-size: 5px;
    }

    .about-image {
        max-width: 100%;
    }
}