#about {
    display: flex;
    flex-direction: column;
}

.about-image {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
    border: none;
}

.about-image:hover {
    transform: translateY(-7px);
}

.about-container {
    display: flex;
    gap: 55px;
    /* padding: 2em 3em 3em 3em; */
    border-radius: 15px;
    /* box-shadow: 0 0px 0px 0 rgba(11, 64, 240, 0.2), 0 25px 30px 10px rgba(0, 0, 0, 0.3); */
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight {
    color: #ffffff9d;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .about-container {
        display: flex;
        flex-direction: column;
        font-size: 5px;
    }

    .about-image {
        max-width: 100%;
    }
}