#footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 45%;
    bottom: 0%;
    align-items: center;
}

#footer p {
    color: #9BA4B5;
    font-size: 14px;
}

@media only screen and (max-width: 1000px) {
    #footer {
        display: none;
    }
}