#spotify {
    display: flex;
    /* flex-direction: column; */
    /* background-color: aliceblue; */
    justify-content: space-between;
}

.now-playing-track {
    /* width: 25%; */
    /* height: auto; */
}

.spotify-other-container {
    display: flex;
    /* justify-content: space-between; */
    /* background-color: aliceblue; */
}

.recently-played-container {
    display: flex;
    flex-direction: column;
}

.top-tracks-container {
    display: flex;
    flex-direction: column;
}

.track {
    width: 100;
    margin-bottom: 15px;
}