#intro {
    width: 25%;
    font-size: 75px;
    margin-left: 15%;
    margin-top: 15%;
    transition: all .2s ease-in-out;
}

.roles {
    color: #E94560;
}

.description {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    color: #9BA4B5;
    transition: all .2s ease-in-out;
}

.bio {
    display: flex;
    margin-top: 5px;
    transition: all .2s ease-in-out;
    font-size: 30px;
    color: #ebf8ff;
}

.name {
    color: #E94560;
    font-weight: bold;
}

/* @media only screen and (max-width: 1000px) {
    #intro {
        width: 100%;
        font-size: 50px;
    }

    .description {
        font-size: 25px;
    }
} */

@media only screen and (max-width: 1366px) {
    #intro {
        width: 100%;
        font-size: 50px;
    }

    .description {
        font-size: 25px;
    }
}