#navbar {
    position: fixed;
    /* right: 5%;
    bottom: 7.5%; */
    left: 13%;
    margin-top: 20px;
    transition: all .2s ease-in-out;
}

.navbar-item {
    padding-bottom: 10px;
    font-size: 30px;
    list-style: none;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}