#navbar {
    position: relative;
    left: 14%;
    margin-top: 70px;
    transition: all .2s ease-in-out;
    width: 7%;
}

.navbar-item {
    padding-bottom: 10px;
    font-size: 30px;
    list-style: none;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}

@media only screen and (max-width: 1920px) {
    #navbar {
        width: 9%;
    }
}

@media only screen and (max-width: 1366px) {
    #navbar {
        width: 12%;
        margin-top: 25px;
        left: 13%;
    }

    .navbar-item {
        font-size: 20px;
    }

    .socials {
        margin-top: 30px;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 1000px) {
    #navbar {
        width: 40%;
        left: 8%;
    }
}