.carousel.slide {
    max-width: 900px;
    padding-bottom: 60px;
}
  
.carousel-inner {
    height: 500px;
    border-radius: 15px !important;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.carousel-inner:hover {
    transform: scale(1.01);
}

.carousel img {
    object-fit: contain;
    height: 100%;
    opacity: 0.5;
}

.carousel-caption {
    position: absolute;
    top: 0%;
    user-select: none;
}

.carousel-caption h3 {
    margin-bottom: 50%;
    font-size: 38px;
    font-weight: bold;
    color: var(--text-primary);
}

.carousel-indicators .active {
    background-color: var(--highlight) !important;
}

.tech {
    color: var(--highlight);
    font-size: 16px;
    font-weight: bold;
}

.project-desc {
    font-size: 18px;
    color: var(--text-primary);
}

.project-icon {
    color: var(--text-primary);
}

.project-icon:hover {
    color: var(--text-secondary);
}

@media only screen and (max-width: 1920px) {
    .carousel-caption {
        position: absolute;
        width: 85%;
        right: unset !important;
        left: 8% !important;
        user-select: none;
    }

    .carousel-caption h3 {
        margin-bottom: 40%;
        font-weight: bold;
    }
}

@media only screen and (max-width: 1400px) {

    .carousel.slide {
        max-width: 500px;
        padding-bottom: 60px;
    }

    .carousel-inner {
        height: 280px;
        border-radius: 24px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }

    .carousel-caption {
        position: absolute;
        width: 85%;
        right: unset !important;
        left: 8% !important;
        user-select: none;
    }

    .carousel-caption h3 {
        margin-bottom: 36%;
        font-size: 25px;
        font-weight: bold;
    }
    
    .carousel-caption p {
        font-size: 12px;
    }

    .project-caption p {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1000px) {      
    .carousel-inner {
        height: 250px;
        border-radius: 24px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }

    .carousel-caption {
        position: absolute;
        max-width: 100%;
        user-select: none;
        top: 30%;
    }

    .carousel-caption h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 36%;
    }
    
    .carousel-caption p {
        font-size: 8px;
    }

    .project-caption {
        margin-top: 40px;
    }

}