.app {
    /* display: flex; */
}

.section-container {
    position: absolute;
    right: 5%;
    top: 28%;
    max-width: 45%;
    width: 45%;
    height: auto;
    border-radius: 30px;
    padding: 1em 5em 2em 5em;  
    transition: all .2s ease-in-out;
}

p {
    font-size: 25px;    
}

h1 {
    font-size: 40px;
    color: #E94560;
}

.section-header {
    display: flex;
    /* padding-bottom: 42px; */
    /* width: 100vw; */
}

.section-header::after {
    content: "";
    display: block;
    width: 200px;
    margin-top: 55px;
    height: 1px;
    margin-left: 20px;
    background-color: #533483;
    opacity: 50%;
}  