.app {
    font-family: 'Dosis', sans-serif; 
    color: #fff;
}

.section-container {
    position: absolute;
    right: 5%;
    top: 28%;
    max-width: 46%;
    width: 46%;
    height: auto;
    border-radius: 30px;
    padding: 1em 5em 2em 5em;
    transition: all .2s ease-in-out;
}

.section-header {
    display: flex;
    padding-bottom: 30px;
}

.section-header::after {
    content: "";
    display: block;
    width: 200px;
    margin-top: 30px;
    height: 1px;
    margin-left: 20px;
    background-color: #533483;
    opacity: 50%;
}  

p {
    font-size: 22px;    
}

h1 {
    font-size: 40px;
    color: #E94560;
}

@media only screen and (max-width: 1920px) {
    .section-container {
        max-width: 55%;
        width: 55%;    
    }

    .section-container p {
        font-size: 21px;    
    }
}

@media only screen and (max-width: 1700px) {
    .section-container {
        max-width: 60%;
        width: 60%;
        right: 0%;  
    }

    .section-container p {
        font-size: 18px;    
    }
}

@media only screen and (max-width: 1366px) {
    .section-container {
        max-width: 60%;
        width: 60%;
        right: 0%;
    }

    .section-container p {
        font-size: 15px;    
    }
}

@media only screen and (max-width: 1000px) {
    .app {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .section-container {
        top: 70%;
        max-width: 100%;
        width: 100%;
        height: auto;
        border-radius: 30px;
        padding: 1em 5em 2em 5em;
        transition: all .2s ease-in-out;
    }
}